body {
	font-family: "Segoe UI", "Noto Sans", Sans, sans-serif;
	margin: 0;
	padding: 0;
	min-width: 600px;
}

header {
	background: rgba(0, 0, 0, 0);
	color: #FFF;
	height: 100vh;
	/*margin: 0 auto;*/
	text-align: center;
	z-index: 1
}

header p.title {
	font-size: 5em;
	padding: 0px;
	margin: 0 auto;
	overflow-wrap: break-word;
}

header .title {
	height: 150px;
}

p {
	line-height: 1.75em;
}

a {
	color: black;
    text-decoration: none;
    transition: color 0.15s ease;
}

a:hover {
	color: gray !important;
}

a:visited {
	color: black;
}

.textbox {
	position: relative;
	top: 30%;
	margin: 0 auto;
	max-width: 600px;
	padding: 30px;
	padding-top: 0;
	background-color: rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 600px) {
	.textbox {
		padding-left: 0px;
		padding-right: 0px;
	}
	p.titleA, p.titleB {
		font-size: 8vw !important;
	}
}

.content {
	position: relative;
	top: -50%;
}

.buttons {
	display: inline;
}

.buttons img {
	width: 42px;
	height: 42px;
	padding: 10px;
}

.discord-button {
	display: inline-block;
}

.title {
	display: table-cell;
	vertical-align: bottom;
	text-align: center;
	width: 100vw;
}

p.titleA, p.titleB {
	height: 120px;
	white-space: pre;
	word-break: break-all;
}

.discord-button:hover span#titleB {
	display: inline;
}

.button-notdiscord {
	display: inline-block;
}

.button:hover .discord-hover {
	display: block;
	position: absolute;
	z-index: 3;
	padding: 16px;
	background-color: rgba(0,0,0,0.6);
	left: -3.8%;
	top: 68%;
}

.arrow {
    text-align: center;
    z-index: 2;
	font-size: 2rem;
	margin: 0;
}

.arrowmid {
	position: relative;
	color: #FFF;
	transform: translateY(-10vh);
	margin: 0 auto;
	width: 500px;
}

.box1 {
	background: #FFF;
	text-align: center;
	box-shadow: 0px 0px 30px rgba(0,0,0,0.5);
	z-index: 2;
}

.box2 {
	background: #1D1D1D;
	text-align: center;
	color: #FFF;
	box-shadow: 0px 0px 30px rgba(0,0,0,0.5);
	z-index: 3;
}

.box3 {
	background: #FFF7E7;
	text-align: center;
	color: #FFF;
	box-shadow: 0px 0px 30px rgba(0,0,0,0.5);
}

.content-box1, .content-box2 {	
	position: relative;
}

p.title {
	font-size: 3.5rem;
	margin: 0 auto;
	padding-top: 3vh;
}

p.title.content-box1 {
	padding-bottom: 50px;
	margin-top: -65px;
	line-height: 0px;
	padding-top: 0;
}

p.desc {
	line-height: 35px;
	font-size: 1.25rem;
}

p.title.content-box2 {
	margin-bottom: 28px;
}

p.dark, h2.dark, a.dark {
	color: #F5F5F5;
}

table.Projects, table.Languages, table.ProjectsLarge {
	max-width: 700px;
	width: 100vw;
	margin: 0 auto;
}

tr.Projects, tr.Languages, tr.ProjectsLarge {
	height: 150px;
	box-shadow: 0px 2px 0px -1px rgba(0,0,0,0.05);
}

tr.ProjectsLarge {
	height: 80px;
	box-shadow: 0px 1px 0px -1px rgba(255,255,255,0.1);
}

div.avatar {
	height: 100px;
	background-repeat: no-repeat;
	background-color: #FFF;
	width: 100px;
	background-size: 100px 100px !important;
	border: 2px solid white;
	border-radius: 50%;
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
	
	text-align: center;
}

div.avatar.Languages {
	display: table-cell;
	vertical-align: middle;
}

img.avatar {
	max-height: 100px;
	max-width: 100px;
	text-align: center;
	object-fit: cover;
	border-radius: 50px 50px;
}

img.avatar.ProjectsLarge {
	height: 100px;
	width: 100px;
}

p.avatar.initial {
	height: 100px;
	width: 100px;
	display: table-cell;
	font-size: 50px;
	font-weight: 200;
	color: #402020;
}

td.avatar, td.icon {
	padding: 2em;
	padding-top: 3vh;
	padding-bottom: 5vh;
	text-align:center;
	vertical-align: top;
}

div.project, div.description {
	min-height: 150px;
	padding-right: 2em;
}

td.project, td.description {
	vertical-align: top;
	padding-top: 3vh;
}

h2.project, h2.description {
	margin-bottom: 0.25em;
	margin-top: 0;
	font-weight: 400;
}

a.project {
	color: #1D1D1D;
}

div.description {
	min-height: 150px;
}

div.description.Languages {
	min-height: 210px;
}

p.project, p.description {
	margin-top: 0;
	white-space: pre-wrap;
}

h2.description.Languages, p.description.Languages {
	color: #000;
}
